<h1>Задание</h1>

<p>Написать программу, определяющую, сколько из чисел в диапазоне
от 0 до n (n вводится с клавиатуры), сами являясь палиндромами, при
возведении в квадрат, образуют палиндромы. Например: 22 → 484 . Вывести на печать числа, квадраты и их количество.</p>

<h2>Форма ввода</h2>

<%= form_with local: true, method: :get, url: index_output_path do |form| %>
  <%= form.number_field :n, placeholder: 'Введите число n' %>
  <%= form.submit 'Отправить форму' %>
<% end %>